body
{
  font-family: system-ui;
  background:  pink;
  color: brown;
  text-align: center;}
  
  
  p{color: green;
  background-color: yellow;}
  

h2{
  color: purple;}

h3{
  button{
    background-color: violet;
  color: brown;
  border: none;
  height: 35px;
  width: 120px;
  border-radius: 4px;}
  h4{
    color: brown;}
  }

h5{
  color: white;
  }
  

h6{
  color: green;}
  
  

    font-size:100%;
#kebab-heading{
  color:green;}
#kebab{
  color: green;
  background-color: orange;
}
.why-i-love-food{
  background-color: violet;
}